@using Microsoft.AspNetCore.Identity
@model BL.DTO.Models.UserRegisterModel

<h2>Register new user</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div style="margin-top: 15px">
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div style="margin-top: 15px">
        <label asp-for="FirstName"></label><br />
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div style="margin-top: 15px">
        <label asp-for="SecondName"></label><br />
        <input asp-for="SecondName" />
        <span asp-validation-for="SecondName"></span>
    </div>
    <div style="margin-top: 15px">
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div style="margin-top: 15px">
        <label asp-for="ConfirmPassword"></label><br />
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div class="form-group" style="margin-top: 15px">
        <label asp-for="UserRole"></label><br />
        @foreach (var role in Model.AllRoles)
        {
            @Html.RadioButtonFor(model => model.UserRole, role)
            @role<br />
        }
        <span asp-validation-for="UserRole"></span>
    </div>
    <div>
        <input type="submit" value="Register" />
    </div>
</form>
